* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.content {
    padding: 50px;
    text-align: center;
}

.video {
    margin-bottom: 20px;
}

h1, h2, p {
    margin-bottom: 10px;
}
